$card-color: rgba(28, 28, 29, 0.753);
$card-color-hover: rgba(255, 255, 255, 0.527);

:host{
    .global-card{
        background-color: white;
        color: $card-color;
        margin-bottom: 10px;
        text-align: left;
        padding-top: 5px;
        padding-bottom: 5px;
        transition: 0.2s;
        :hover{
            background-color: $card-color-hover;
        }
    }
} 