:host{
    .global-card{
        background-color: white;
        color: var(--card-color);
        margin-bottom: 10px;
        text-align: left;
        padding-top: 5px;
        padding-bottom: 5px;
        transition: 0.2s;
    }
    .global-card:hover{
        background-color: var(--card-color-hover);
    }
} 