@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto&family=Ubuntu&display=swap');

:host {
  .register {
    height: 50%;
    margin-top: 10%;
    margin-left: calc(35%);
    margin-right: calc(35%);
    background-color: var(--button-background-light);

    header{
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
        font-size: 20px;
        color: var(--main-color);
        margin-bottom: 20px;
        margin-left: calc(35%);
        margin-right: calc(35%);
        padding-bottom: 10px;
        box-shadow: 0 3px 2px -2px var(--main-color);
    }

    form {
      margin: 0px 10% 0px 10%;

      mat-label {
        color: var(--font-color);
      }

      mat-icon {
        color: var(--font-color);
      }

      .form-margin {
        margin-right: 5%;
      }

      .form-row {
        border-color: var(--input-border);
        float: left;
        width: 47.1%;
      }

      .form-row:hover {
        border-color: var(--input-border);
      }

      .form-width {
        width: 100%;
      }
    }

    .buttons {
      .register {
        width: 50%;
        height: 50px;
        padding: 1px;
        margin: 10px 10px 0px 18%;
      }
      
      .login-border{
        border: 1px solid rgba(0,0,0,.15);
        .login-circle {
            font-size: 20px;
        }
      }
    }
  }
}
