@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.register {
    height: 50%;
    margin-top: 10%;
    margin-left: calc(35%);
    margin-right: calc(35%);
    background-color: $button-background-light;
  
    form {
      margin: 0px 5% 0px 5%;
  
      mat-label {
        color: $font-color;
      }
  
      mat-icon {
        color: $font-color;
      }
  
      .form-margin {
        margin-right: 5%;
      }
  
      .form-row {
        border-color: $input-border;
        float: left;
        width: 47.1%;
      }
  
      .form-row:hover {
        border-color: $input-border;
      }
  
      .form-width {
        width: 100%;
      }
    }
  
    .buttons {
      .register {
        width: 50%;
        height: 50px;
        padding: 1px;
        margin: 10px 10px 0px 18%;
      }
      .login-circle {
        font-size: 20px;
      }
    }
  }
  