<div cdkDropListGroup class="container">
  <mat-card>
    <h2 class="left-header" dir="auto">
      Yapılacaklar
      <mat-icon class="header-icon-settings" fontIcon="more_horiz"></mat-icon>
    </h2>
    <div
      cdkDropList
      [cdkDropListData]="data_development"
      (cdkDropListDropped)="drop($event)"
    >
      <app-card
        *ngFor="let item of data_development"
        [data]="item"
        cdkDrag
      ></app-card>
      <div cdkDrag>&nbsp;</div>
    </div>
    <button (click)="areaVisible(0)" class="button-settings" mat-flat-button>
      <mat-icon class="font-settings" fontIcon="add"></mat-icon>Kart Ekle
    </button>
    <textarea
      *ngIf="textAreaVisible[0]"
      (keydown)="addBucket(0, 'input', $event, 'development', valArea1)"
      class="input-settings"
      rows="3"
      matInput
      placeholder="Bu kart için başlık girin..."
      for="textarea1"
      (keyup)="getValue(areaBox.value)"
      #areaBox
    ></textarea>
    <button
      *ngIf="textAreaVisible[0]"
      (click)="addBucket(0, 'button', '', 'development', valArea1)"
      class="save-button"
      mat-flat-button
    >
      Kart Ekle
    </button>
    <button
      *ngIf="textAreaVisible[0]"
      (click)="areaVisible(0)"
      class="close-button"
      mat-flat-button
    >
      <mat-icon class="font-settings" fontIcon="close"></mat-icon>
    </button>
  </mat-card>

  <mat-card>
    <h2 class="left-header" dir="auto">
      Yapılıyor
      <mat-icon class="header-icon-settings" fontIcon="more_horiz"></mat-icon>
    </h2>
    <div
      cdkDropList
      [cdkDropListData]="data_working"
      (cdkDropListDropped)="drop($event)"
    >
      <app-card-working
        *ngFor="let item of data_working"
        [dataWorking]="item"
        cdkDrag
      ></app-card-working>
      <div cdkDrag>&nbsp;</div>
    </div>
    <button
      *ngIf="textAreaVisible2[1]"
      (click)="areaVisible(1)"
      class="button-settings"
      mat-flat-button
    >
      <mat-icon class="font-settings" fontIcon="add"></mat-icon>Kart Ekle
    </button>
    <textarea
      *ngIf="textAreaVisible[1]"
      (keydown)="addBucket(1, 'input', $event, 'working', valArea1)"
      class="input-settings"
      rows="3"
      matInput
      placeholder="Bu kart için başlık girin..."
      for="textarea1"
      (keyup)="getValue(areaBox.value)"
      #areaBox
    ></textarea>
    <button
      *ngIf="textAreaVisible[1]"
      (click)="addBucket(1, 'button', '', 'working', valArea1)"
      class="save-button"
      mat-flat-button
    >
      Kart Ekle
    </button>
    <button
      *ngIf="textAreaVisible[1]"
      (click)="areaVisible(1)"
      class="close-button"
      mat-flat-button
    >
      <mat-icon class="font-settings" fontIcon="close"></mat-icon>
    </button>
  </mat-card>

  <mat-card>
    <h2 class="left-header" dir="auto">
      Tamamlandı
      <mat-icon class="header-icon-settings" fontIcon="more_horiz"></mat-icon>
    </h2>
    <div
      cdkDropList
      [cdkDropListData]="data_completed"
      (cdkDropListDropped)="drop($event)"
    >
      <app-card-completed
        *ngFor="let item of data_completed"
        [dataCompleted]="item"
        cdkDrag
      ></app-card-completed>
      <div cdkDrag>&nbsp;</div>
    </div>
    <button
      *ngIf="textAreaVisible2[2]"
      (click)="areaVisible(2)"
      class="button-settings"
      mat-flat-button
    >
      <mat-icon class="font-settings" fontIcon="add"></mat-icon>Kart Ekle
    </button>
    <textarea
      *ngIf="textAreaVisible[2]"
      (keydown)="addBucket(2, 'input', $event, 'completed', valArea1)"
      class="input-settings"
      rows="3"
      matInput
      placeholder="Bu kart için başlık girin..."
      for="textarea1"
      (keyup)="getValue(areaBox.value)"
      #areaBox
    ></textarea>
    <button
      *ngIf="textAreaVisible[2]"
      (click)="addBucket(2, 'button', '', 'completed', valArea1)"
      class="save-button"
      mat-flat-button
    >
      Kart Ekle
    </button>
    <button
      *ngIf="textAreaVisible[2]"
      (click)="areaVisible(2)"
      class="close-button"
      mat-flat-button
    >
      <mat-icon class="font-settings" fontIcon="close"></mat-icon>
    </button>
  </mat-card>
</div>
