<div cdkDropListGroup class="home">
  <div class="task-section-container" *ngIf="!isLoading">
    <app-task-section
      sectionType="for_development"
      title="For Development"
      [data]="data"
      (addToBucketChange)="addBucket($event, 0)"
      (dropChange)="drop($event)"
    ></app-task-section>
    <app-task-section
      sectionType="for_working"
      title="In Progress"
      [data]="data"
      (addToBucketChange)="addBucket($event, 1)"
      (dropChange)="drop($event)"
    ></app-task-section>
    <app-task-section
      sectionType="for_completed"
      title="Completed"
      [data]="data"
      (addToBucketChange)="addBucket($event, 2)"
      (dropChange)="drop($event)"
    ></app-task-section>
  </div>
</div>
