@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.home {
    display: flex;
    justify-content: center ;
    height: 100%;
    margin-top: 10%;
    
    .task-section-container{
      max-width: 680px;
      gap: 20px;
      display: flex;
  
      app-task-section{
        min-width: 200px;
        max-width: 200px;
      }
    }
  
    mat-card {
      font-family: "Roboto", sans-serif;
      height: fit-content;
      background-color: var(--button-background-light);
      width: calc(33.3% - 10px);
      padding-left: 10px;
      padding-right: 10px;
      padding-top: 5px;
      padding-bottom: 10px;
      margin-left: 10px;
      margin-right: 10px;
  
      .left-header {
        color: var(--left-header);
        font-weight: 500;
        font-size: 14px;
        line-height: 24px;
        margin: 10px;
        opacity: 0.9;
        .header-icon-settings {
          float: right;
          color: var(--font-color);
          font-size: 19px;
        }
      }
  
      .button-settings {
        width: 100%;
        height: 35px;
        font-weight: 300;
        border-radius: 2px;
        background-color: var(--button-background-light);
        color: var(--button-settings);
        text-align: left;
        opacity: 0.8;
        transition: 0.4s;
      }
  
      .button-settings:hover {
        background-color: var(--button-background);
        color: var(--button-text);
        border-radius: 5px;
        border-color: transparent;
        opacity: 0.8;
      }
  
      .button-settings:active {
        background-color: var(--button-background);
        color: var(--button-text);
        border-radius: 5px;
        opacity: 0.8;
      }
  
      .font-settings {
        color: var(--font-color-alpha);
        font-weight: 500;
        font-size: 22px;
      }
  
      .input-settings {
        background-color: white;
        border-style: none none solid none;
        border-color: var(--input-border);
        color: var(--input-color1);
        resize: none;
        width: 92%;
        padding: 4%;
        border-width: 1px;
        border-radius: 4px;
        opacity: 0.8;
        transition: 0.3s;
      }
  
      .input-settings:hover {
        color: var(--input-color2);
        opacity: 1;
      }
  
      .input-settings:focus {
        outline: none !important;
        border-color: var(--input-focus-border);
        opacity: 1;
      }
  
      .save-button {
        font-weight: 350;
        color: white;
        background-color: var(--main-color);
      }
  
      .close-button {
        margin-top: 6%;
        background-color: transparent;
      }
    }
  }