html,
body {
  height: 100%;
  body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url("https://trello-backgrounds.s3.amazonaws.com/SharedBackground/1280x1920/1b9d5b4ff06b237aa627417c1a8ac735/photo-1663483496520-fa1b631de5b2.jpg");
  }
}

:root {
  --left-header: #172b4d;
  --font-color: #6b778c;
  --font-color-alpha: #6b778cd7;
  --button-background: #00000015;
  --button-background-light: #ebecf0;
  --button-text: #434d5f;
  --button-settings: #2f343d;
  --input-color1: #262c38;
  --input-color2: #1c1c1d;
  --input-border: #5e6c8485;
  --input-focus-border: #2f3541a6;
  --main-color: #673ab7;
}
